<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'tests/navbar.html' %}
<h1 align="center">Stwórz nowy test</h1>
<h2 align="center">Wybierz rodzaj testu</h2>
<table style="width=80%" align="center">

    <tr>
        <td>
            <a href="/add/abc">ABC</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/add/truefalse">Prawda Fałsz</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/solve/">Uzupełnij</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/add/writeanswer">Wpisz Odpowiedź</a>
        </td>
    </tr>
</table>
</body>
</html>